---
---

<footer class="py-md" style="background-color: var(--footer-background); color: var(--footer-text-color);">
  <div class="container text-2xs text-center">
    <span>&copy; 2025 Nexus. All rights reserved.</span>
  </div>
</footer>
