---

---

<header class="sticky top-0 z-10 border-b border-(--border-default) bg-(--bg-primary)">
  <nav class="wrapper flex gap-2 sm:gap-6">
    <ul class="flex grow items-center justify-between gap-4 text-(--text-90) sm:gap-6">
      <li>
        <a
          href="#hero"
          class="font-title text-(length:--fs-md) font-semibold text-(--accent-color-one) underline decoration-2 underline-offset-4 transition-colors duration-300"
        >
          NEXUS
        </a>
      </li>
      <li>
        <ul class="flex grow items-center justify-between gap-4 sm:gap-6">
          <li>
            <a
              href="#services"
              class="font-semibold transition-colors duration-300 hover:text-(--accent-color-one) hover:underline hover:decoration-2 hover:underline-offset-4"
            >
              Services
            </a>
          </li>
          <li>
            <a
              href="#contact"
              class="font-semibold transition-colors duration-300 hover:text-(--accent-color-one) hover:underline hover:decoration-2 hover:underline-offset-4"
            >
              Contact
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <label class="flex items-center gap-2 font-semibold sm:gap-4">
      Dark mode:
      <input type="checkbox" id="theme-toggle" class="h-4 w-4 cursor-pointer accent-(--accent-one) sm:h-6 sm:w-6" />
    </label>
  </nav>
</header>
