---

---

<section class="wrapper py-big-1 md:py-big-4 gap-big-2 md:gap-2xl flex flex-col md:flex-row md:items-center" id="hero">
  <div class="gap-md md:gap-lg md:pr-xl flex max-w-[48ch] flex-col">
    <h1 class="text-3xl leading-[1.15] font-bold">Build Your Digital Future With Confidence</h1>
    <p class="mb-sm">
      Transform your ideas into reality with our innovative solutions. We help businesses grow and succeed in the
      digital age through cutting-edge technology and creative strategies.
    </p>
    <a href="#" class="btn-primary-fill">Get Started</a>
  </div>
  <div class="gap-md md:gap-lg relative grid flex-1 grid-cols-2">
    <img
      src="/src/assets/work-space.webp"
      alt=""
      class="col-span-2 h-[163px] w-full rounded-md object-cover md:h-[211px]"
    />
    <img src="/src/assets/meet.webp" alt="" class="h-[163px] w-full rounded-md object-cover md:h-[211px]" />
    <img src="/src/assets/man-working.webp" alt="" class="h-[163px] w-full rounded-md object-cover md:h-[211px]" />
    <img src="/src/assets/coffee.webp" alt="" class="h-[163px] w-full rounded-md object-cover md:h-[211px]" />
  </div>
</section>
