---
// Theme toggle component with sun/moon icons
---

<button
  id="theme-toggle"
  class="theme-toggle bg-primary-100 dark:bg-primary-900 text-text-90 hover:bg-primary-300 dark:hover:bg-primary-700 flex h-10 w-10 cursor-pointer items-center justify-center rounded-full transition-all duration-300 ease-in-out"
  aria-label="Toggle theme"
>
  <svg
    class="theme-icon theme-icon--sun hidden h-5 w-5 dark:block"
    width="20"
    height="20"
    viewBox="0 0 20 20"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle cx="10" cy="10" r="4" stroke="currentColor" stroke-width="2"></circle>
    <path
      d="M10 2V4M10 16V18M18 10H16M4 10H2M15.657 4.343L14.243 5.757M5.757 14.243L4.343 15.657M15.657 15.657L14.243 14.243M5.757 5.757L4.343 4.343"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"></path>
  </svg>
  <svg
    class="theme-icon theme-icon--moon block h-5 w-5 dark:hidden"
    width="20"
    height="20"
    viewBox="0 0 20 20"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M17 10.5C16.4 13.5 13.5 16 10 16C6.5 16 3.5 13 3.5 9.5C3.5 6.5 5.5 4 8.5 3.5C8 4.5 8 5.5 8 6.5C8 9.5 10.5 12 13.5 12C14.5 12 15.5 11.5 16.5 11C16.8 11.2 17 11.5 17 10.5Z"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
  </svg>
</button>
